.sidebar
{
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #0A0A0A; 
}
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  }
.sidebar a:hover{
	color: lime;
}

.header{
	position: fixed;
	margin-bottom: 20px;
	height: :100%;
	width: 100%;
}
.header h1{
	text-align: center;
	margin-right: 160px;
	margin-left: 160px;
}
.logo img{
	z-index: 1;
	padding-left: 160px;
}
.lis{
	position: absolute;
	left: 150px;
	top: 120px;
	width: 400px;
	height: 400px;
	color: lime;
	background-color: #0A0A0A
}
.lis li{
	text-align: center;
	margin-top: 20px;
	vertical-align: middle;
}
.sometext{
	text-shadow: #0A0A0A;
	background-color: lime;
	position: relative;
	left: 650px;
	top: 104px;
	width: 400px;
	height: 400px;
}
.sometext p{
	color: #0A0A0A;
	text-align: center;
	vertical-align: middle;
	
	font: sans-serif;
}