.sidebar
{
  height: 100%; 
  width: 160px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #0A0A0A; 
}
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  }
.sidebar a:hover{
	color: lime;
}

.header{
	position: relative;
	z-index: -1;
	height:100%;
	width: 100%;
	text-align: center;
	font-weight: bolder;
	font-size: xx-large;
}
.logo {
	z-index: 100;
  	top: 0; 
  	left: 0;
  	margin-right: 30px;
}
.lis{
	position: absolute;
	float: left;
	width: 400px;
	height: 400px;
	color: lime;
	background-color: #0A0A0A;
	margin-left:145px;
	margin-top: 5%;
}
.lis li{
	text-align: center;
	margin-top: 20px;
	vertical-align: middle;
}
.sometext{
	text-shadow: #0A0A0A;
	background-color: lime;
	left: 650px;
	width: 400px;
	height: 360px;
	float: right;
	margin-top: 5%;

}
.sometext p{
	color: #0A0A0A;
	text-align: center;
	vertical-align: middle;
	font: sans-serif;
	text-shadow: #0A0A0A;
}
.animation{
  margin-left: -200px;
  width: 120px;
  height: 40px;
  background-color: #EDE053;
  border-radius: 20px;
  transition: 2s;
  line-height: 40px;
  text-align: center;
}
.footer {
	align-self: center;
	font-size: xx-large;
	font-style: italic;
	font-weight: bolder;
	background-color:  #0A0A0A;
	color: lime;
	margin-top: 29%;
	height: 460px;
	vertical-align: middle;
    z-index:4;
    overflow:visible;

}